:root {
  --color-green-dark: #245501;
  --color-white: #ffffff;
  --color-yellow: #f4c95d;
  --color-test: #022400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-test);
  text-align: center;
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background-color: rgba(255, 255, 255, 0.079);
  color: var(--color-white);
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
}

button:hover {
  transition: 0.6s;
  scale: 1.1;
}

h1 {
  padding-bottom: 40px;
  font-size: 50px;
}

label {
  font-size: 25px;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.perguntas {
  width: 80%;
  text-align: start;
  line-height: 2;
}

.borda {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: solid 1px;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 10px 24px rgb(80, 80, 80);
}

.borda-preta {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: solid 1px;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 10px 24px rgb(0, 0, 0);
}
